<!-- Site header and navigation -->
<header class="top navbar-fixed-top fela-navbar-header" role="header">
    <div class="container fela-navbar-wrapper">
        <a href="http://palaverhut.com" class="navbar-brand pull-left">
            <img src="/assets/images/palaverhut_logo.png" alt="" class="palaver-brand">
        </a>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <nav class="navbar-collapse collapse pull-right" role="navigation">
            <ul class="navbar-nav nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Subscribe</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <div class="fela-colorband">
      <div class="col-xs-3 color1"></div>
      <div class="col-xs-3 color2"></div>
      <div class="col-xs-3 color3"></div>
      <div class="col-xs-3 color4"></div>
    </div>
</header>