.fela-navbar-header{
	background-color: white;
	position: relative;
	@include box-shadow(0px, 0px, 5px, rgba(0,0,0,.15) );
	width: 100%;
}

.fela-navbar-wrapper {
	max-width: $readable_width + 2* $add_padding;
}

.palaver-brand {
	height: 100%;
}

.fela-colorband {
	height: 2px;
	padding: 0px;
	margin: 0px;

	.color1{
		background-color: $color_01;
		@include colorband();
	}

	.color2{
		background-color: $color_02;
		@include colorband();
	}

	.color3{
		background-color: $color_03;
		@include colorband();
	}

	.color4{
		background-color: $color_04;
		@include colorband();
	}	
}